* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bebas Nue", sans-serif;
}

.container {
  width: 100%;
  height: 300vh;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-size: 30px;
  letter-spacing: 2px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
}

.page-1 {
  background-color: #242225;
  width: 100%;
  height: 100vh;
  display: flex;
}

/* start of description */
.description {
  width: 33.33%;
  height: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.description .nama {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px;
}

.description .nama > h1 {
  font-size: 6.5rem;
  color: white;
}

.description .hr-1 {
  width: 35%;
  margin-top: 80px;
  margin-left: 60px;
  height: 0;
}

.description .hr-2 {
  width: 35%;
  margin-left: 60px;
  height: 0;
}
.description > h2 {
  font-size: 2.5rem;
  color: white;
  margin-top: 50px;
  margin-bottom: 0;
  padding-left: 60px;
}

.description > h3 {
  font-size: 1.8rem;
  color: white;
  margin-top: 10px;
  margin-bottom: 0;
  padding-left: 60px;
}
/* end of description */

/* start of foto */
.foto {
  width: 33.33%;
  height: auto;
  margin-bottom: 20px;
  padding: 0 20px 20px 20px;
}

.foto > img {
  width: 100%;
  height: 100%;
}
/* end of foto */

/* start of bio */
.bio {
  width: 33.33%;
  height: auto;
  padding: 30px;
}

.bio h2 {
  margin-top: 70px;
  font-size: 2.5rem;
  color: white;
}

.bio p {
  font-size: 1rem;
  color: white;
  margin-top: 10px;
  line-height: 2;
  text-align: justify;
}

/* end of page-1 */

.page-2 {
  width: 100%;
  height: 200vh;
  display: flex;
}

.left {
  background-color: #e7dac7;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left .contact {
  width: 80%;
  height: auto;
  padding: 50px;
}

.contact {
  padding: 10px;
  width: 200px;
  margin: 5px;
}

.contact hr {
  border: 1px solid #000;
  margin-bottom: 15px;
}

.contact-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.contact-item i {
  font-size: 35px;
  margin-right: 35px;
}

.contact-text p {
  margin: 0;
  line-height: 1.5;
}

.contact-text p:first-child {
  font-weight: bold;
}

.left .expertise {
  width: 80%;
  height: auto;
  padding: 50px;
}

.expertise {
  width: 200px;
  padding: 10px;
  margin: 5px;
}

.expertise ul {
  margin-right: 30px;
  margin-left: 20px;
}

.expertise ul li {
  margin-bottom: 30px;
}

.left .skills {
  width: 80%;
  height: auto;
  padding: 50px;
}

.skills {
  width: 200px;
  padding: 10px;
  margin: 5px;
}

.skill {
  margin: 15px 0;
}
.skill-name {
  font-weight: bold;
}
.bar {
  background-color: #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
  height: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.progress {
  background-color: #181b18;
  height: 100%;
  width: 70%;
  border-radius: 5px;
}

/* page kanan */
.right {
  background-color: #ebebeb;
  width: 60%;
  height: 100%;
  flex-direction: column;
  display: flex;
}

.right .education {
  width: 100%;
  height: auto;
  padding: 50px;
  display: flex;
}

.education {
  width: 300px;
  padding: 10px;
  margin: 5px;
  flex-direction: column;
}

.column {
  width: 48%; /* Atur lebar kolom */
  padding: 10px;
  display: inline-block;
  height: auto;
  line-height: 2;
}

.right .work-experience {
  width: 100%;
  height: auto;
  padding: 50px;
  display: flex;
}
.work-experience {
  width: 200px;
  padding: 10px;
  margin: 5px;
  flex-direction: column;
  display: flex;
}

.location {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.location p:nth-last-child(1) {
  font-size: 12px;
  font-weight: normal;
}
.location i {
  margin-right: 5px;
}

.company {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.work-experience .bungkus {
  margin-top: 100px;
}

.text-description {
  font-size: 14px;
  margin-top: 10px;
  line-height: 2;
}
